<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.colesteve.letdoit.service.provider.dao.BooksDao">

	<select id="getBookById" resultType="Books">
		select book_name bookName,author,price from books where id=#{id};
	</select>
	<select id="listBooks" resultType="Books">
		select book_name bookName,author,price from books;
	</select>
	<insert id="addBook" parameterType="Books">
		INSERT INTO books(book_name,author,price) VALUES(#{bookName},#{author},#{price});
	</insert>

</mapper>
 

